/* ////////////////////////////  */

.main {
    height: 100vh;
}

.div {
    height: 250px;
    background-color: purple;
    color: white;
    font-size: 50px;
    margin: 20px;
}

.height {
    /*  altura para el bloque de bienvenida */
    height: 88vh;
}

.opacityEnlace {
    opacity: 0.6;
}

.enlace:hover {
    opacity: 0.6;
    border-bottom: 2px solid #CBB279;
    border-radius: 70px;
}

.enlace:active {
    padding: 5px;
    border-radius: 100px;
    background-color: #CBB279;
    box-shadow: 13px 13px 10px black;
}

.enlace:disabled {
    padding: 5px;
    border-radius: 70px;
    background-color: #CBB279;
    box-shadow: 13px 13px 10px black;
}




/* ////////////////////////////  */
/* Responsive */

@media (max-width: 1000px) {

    /* Animacion nombre */
    #principal h1 {
        font-size: 2rem;
    }
}

@media (max-width: 500px) {

    /* Animacion nombre */
    #principal h1 {
        font-size: 30px;
    }
}

@media (max-width: 400px) {

    /* Animacion nombre */
    #principal h1 {
        font-size: 20px;
    }
}