

/* ////////////////////////////  */

.main {
    height: 100vh;
}

.div {
    height: 250px;
    background-color: purple;
    color: white;
    font-size: 50px;
    margin: 20px;
}

.height { /*  altura para el bloque de bienvenida */
    height: 80vh;
}

/* ////////////////////////////  */

#principal h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: mostrar_texto 0.5s ease forwards;
    animation-delay: 1s;
}

#principal h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: rgb(212, 212, 59);
    animation: texto_fondo 1s ease;
    animation-delay: 0.5s;
}

#principal h1:nth-child(1) span {
    animation-delay: 0.5s;
}

#principal h1:nth-child(2) span {
    animation-delay: 1.5s;
}

#principal h1:nth-child(3) span {
    animation-delay: 2.5s;
}

#principal h1:nth-child(1) {
    animation-delay: 1s;
}

#principal h1:nth-child(2) {
    animation-delay: 2s;
}

#principal h1:nth-child(3) {
    animation: mostrar_texto_nombre 0.5s ease forwards;
    animation-delay: 3s;
}



/* Animacion nombre */
@keyframes texto_fondo {
    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes mostrar_texto {
    100% {
        color: black;
    }
}

@keyframes mostrar_texto_nombre {
    100% {
        color: rgba(244, 191, 1, 0.877);
        font-weight: 500;
    }
}


@keyframes moviendrew {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(20px);
    }
}




/* ////////////////////////////  */


#flecha {
    animation-name: moviendrew;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    font-size: 100px;
}